<ion-header>
    <ion-toolbar>
      <ion-title>Demostración de la aplicación</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <h1>Funcionamiento de la aplicación</h1>
    
    <img [src]="demoImage" alt="Captura de pantalla completa">
    <img [src]="demoSmallImage" alt="Captura de pantalla pequeña">
    <img [src]="demoAndroidVertical" alt="Captura de pantalla Android vertical">
    <img [src]="demoAndroidHorizontal" alt="Captura de pantalla Android horizontal">
    <img [src]="demoTabletVertical" alt="Captura de pantalla tablet vertical">
    <img [src]="demoTabletHorizontal" alt="Captura de pantalla tablet horizontal">
  </ion-content>

  